.header {
  background-color: #ff6600; 
  padding: 10px 20px;
}

.navbar-brand {
  color: white !important; 
  font-size: 60px; 
  font-weight: bolder; 
  transition: color 0.3s ease;
  padding-left: 25px;
}

.navbar-brand:hover {
  color: #ffffff !important; 
}

.navbar-nav .nav-link {
  color: white !important; 
  margin-right: 25px;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #ffa07a !important;
}

.navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28 255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
